.bgimage {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/AccentureBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#bar-chart-horizontal {
    position: absolute;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


.bgimage h1 {
    color:lightgray;
    font-size: 6vw;
    font-family: sans-serif;
    margin-top: 5% !important;
    text-shadow:2px 2px #333
}

#score-button{
    border-color: lightgray;
    padding: 2vw 2vw;
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-size: 24px;
}

#score-button:hover{
    background-color: salmon;
}
