*
{
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url("images/background.jpg");
    height: 220vw;
    background-size: cover;
    background-position: center;
}


.hero{
    position: absolute;
    width: 98vw;
    margin-left: 0;
    margin-top: 0;
}

h1{
    color:white;
    font-size: 7vw;
    font-family: monospace;
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 6vw;
}

.button{
    margin-top: 6vw;
    margin-bottom: 6vw;
    margin-left: 24vw;
}

.btn{
    border: 1px solid white;
    padding: 2vw 2vw;
    color: white;
    text-decoration: none;
    margin-right: 4vw;
    font-size: 72px;
    text-transform: uppercase;
    position: center;
}

.btn-one:hover{
    background-color: darkorange;
}

.btn-two:hover{
    background-color: darkorange;
}

.btn-three:hover{
    background-color: darkorange;
}

.btn-four:hover{
    background-color: darkorange;
}


.btn-five:hover{
    background-color: darkorange;
    content: 'GREAT!';
}
